project:
  type: website
  output-dir: docs

website:
  title: "Plaksha"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
    
  sidebar:
    style: "docked"
    border: true
    collaps-level: 0
    contents: 
    - 01_Mathematics_I/index.qmd
    - 02_Python_Programming/index.qmd
    - 03_Intro_AI/index.qmd
    - 04_DataVisualization/index.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



